body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

#hero {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGd3NjNpZDRqc3pqODY4bmZiZnc2eHc5a2lyNXlpbXBkdDkyN3RuZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    padding: 10px 0 400px 0;
}

.btn {
    padding: 7px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    /* or just paste "Orbitron", sans-serif . here*/
    color: #82a5ca;
    /*color same as the text*/
    font-weight: bold;
}

.underline {
    border-bottom: 5px solid white;
}

#main-logo {
    width: 125px;
}

#shadow {
    text-shadow: 8px 8px 4px black;
}